@import url('https://fonts.googleapis.com/css2?family=Trirong&display=swap');

:root
{
    --coconut : #955448;
    --garnet : #683A32;
    --linen : #FFEEEB;
    --spanis_pink : #FFC7BD;
    --pale_chestnut : #D5BOA9;
}
.errorbox{
    padding: 5rem;
}
h1{
    font-family: 'Trirong','sans-serif';
    color: var(--garnet);
    font-size: 3.5rem;
    margin: 0px;
}
p{
    font-family: "Trirong","sans-serif";
    color: var(--coconut);
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
}
