@import url('http://fonts.cdnfonts.com/css/trirong');

:root
{
    --coconut : #955448;
    --garnet : #683A32;
    --linen : #FFEEEB;
    --spanis_pink : #FFC7BD;
    --pale_chestnut : #D5BOA9;
}

body{min-width: fit-content;}
.header{margin-top: 130px;}
.header h1{
    font-family: 'Trirong';
    text-align: center;
    color: var(--garnet);
    
}
.main-container{
    display: flex;
    justify-content: space-around;
}
.filtersec{
    width: 25vw;
    margin: 5px;
    border: 1px solid lightgrey;
}
.filtersec h2{
    text-align: center;
    font-weight: 150;
    font-size: 25px;
    font-family: 'Trirong';
}
#salwaar-suits-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-self: center;
    padding: 5px;
    width: 75vw;
    margin: 5px;
    border: 1px solid lightgrey;
}
.products-container{
    margin: 20px;
    margin-top: 50px;
}
.products-container h4{
    text-align: center;
    color : var(--garnet);
    font-size: 16px;
    font-weight: 350;
    cursor: pointer;
}
.products-container h4:hover{
    font-weight: 450;
}

.product{
    border: 1px solid lightgrey;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2), 0px 0px 2px rgba(0,0,0,0.2);
}
.product img
{
    
    height: 435px;
    width: 295px;
}



   
