@import url('http://fonts.cdnfonts.com/css/trirong');

:root
{
    --coconut : #955448;
    --garnet : #683A32;
    --linen : #FFEEEB;
    --spanis_pink : #FFC7BD;
    --pale_chestnut : #D5BOA9;
}


/* Desktop Queries  */
@media screen and (min-width: 451px) {
    .sp-container-desktop{
        display: block;
        height: 80vh;
        margin-top: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 70px;
        font-family: 'Trirong', sans-serif; 
    }
    .sp-left img{
        height: 550px;
        width: 380px;
    }
    .sp-right{
        padding: 0px 45px;
        color: var(--garnet);
    }
    .sp-right h1{
        line-height: 50px;
        width: 29rem;
        padding: 0px 40px 5px 0px;
        font-size: 2.5rem;
        font-weight: 450;
    }
    .sp-right h4{
        font-size: 15px;
        font-weight: bold;
        margin: 30px 0px -15px;
        font-family: sans-serif;
    }
    .sp-right p{
        line-height: 18px;
        font-size: 13px;
        width: 36rem;
        margin-top: 20px;
    }
    .sp-details {
        margin-top: 22px;
        list-style: none;
        padding: 0;
        line-height: 20px;
        font-size: 13px;
        font-weight: 450;
    }
    .sp-details p{
        width: 30rem;
    }
    #enquire-btn{
        background: none;
        padding: 8px;
        border-radius: 30px;
        border: 1px solid var(--coconut);
        width: 120px;
        color: var(--coconut);
        cursor: pointer;
        margin-top: 30px;
        transition: 0.2s;
    }
    #enquire-btn:hover{
        background: var(--coconut);
        color: white;
        transition: 0.2s;
    }
}