# Options +FollowSymLinks
RewriteEngine ON

# #Custom 404 page redirect
ErrorDocument 404 https://themodernattire.com/404.html
DirectoryIndex index.php

# #Remove all php file extensions
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# RewriteRule ^index\.php$ / [R=301,L]

#Clean url
RewriteRule ^Shop/([^/]+)/([^/]+)/([^/]+)$ ./singleprod.php?pg=$1&prcode=$2&keywords=$3 [L]
RewriteRule ^Shop/([^/]+)/([^/]+)/([^/]+)$ ./themodernattire.com/$3 [L]
# Shop/Dresses/















# www to non-www
#RewriteCond %{HTTP_HOST} !^www.themodernattire.com/ [NC]
#RewriteRule (.*) themodernattire.com [L,R=301]
