#searchBox{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  /* #currency{
    position:relative;
    display: block;
    justify-content: center;
    align-items:center;
  } */
  #currency{
    float: right;
    vertical-align: middle;
  }
  
  .searchText{
    width: 0rem;
    /* border-radius: 3rem; */
    border: none;
    outline: none;
  }
  .searchText:focus{
    outline: none;
  }
  .searchBtn{
    width: 2rem;
    height: 2rem;
    /* background-color: #192a56; */
    color:#50182D;
    position: absolute;
    display: grid;
    place-items: center;
    right:1.5rem;
   margin-right: -20px;
  }
  
  #searchBox:hover > .searchText{
    width: 10rem;
    border-radius: 3rem;
    padding:.5rem;
    /* box-shadow: 0 2rem 2rem -1.5rem rgba(0, 0, 0, 0.2); */
  }